body {
    background-color: hsl(0, 0%, 100%);
    color: black;
    line-height: 1.5;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    background-color: pink;
    text-align: center 
  }
body {
    background-image: url("https://media1.tenor.com/m/tJptzAczBE8AAAAC/cute-pink.gif");
}
h1 {
    font-size: 70px;
  }

div#box{ 
    margin: auto;
    width: 50%;
    height:60%; 
    background-color:#ffffff; 
 } 

 img{
    max-height: 150px;
    max-width: 200px;
 }